<div class="container">
    <br><br>
    <div class="row">
    <div class="col-lg-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Trier par
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Date</a></li>
                <li><a href="#">Nombre de vue</a></li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
{{#each articles}}
     <div style="background-color: #dedcdc; border-radius:5px;" class="row post">
            <div class="col-md-4"><img width="150px" class="img-responsive" src={{this.image}}>
                <h3 class="text-left">{{this.titre}}</h3>
                <p>{{this.nomAuteur}} {{this.prenomAuteur}} - {{dateFormat this.date "d/M/YYYY, h:mm:ss a"}}</p>
                <p>12 vues</p>
            </div>
            <div class="col-md-7" style="word-wrap: break-word;">
                <p>{{{trimString this.contenu}}}</p>
                <a href="/lire/{{this._id}}" class="btn btn-primary pull-right" type="button">Lire </a>
            </div>
        </div>
{{/each}}

{{#if showPagination}}
<div class="row">
    <div class="col-lg-12">
        <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
            <a href="/{{previous}}" aria-label="Précédent">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            {{#each pages}}
            <li><a href="/{{this}}">{{this}}</a></li>
            {{/each}}
            <li>
            <a href="/{{next}}" aria-label="Suivant">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
        </nav>
    </div>
</div>
{{/if}}

</div>
